

.tag1 {
    background-color: red;
    width: 550px;
    height: 100px;
}
.tag3 {
    background-color: gray;
    width: 450px;
    height: 150px;
}

.tag2 { 
    background-color:aquamarine;
    width:300px;
    height: 250px;

}

.tag4 { 
    background-color:grey;
    width:100px;
    height: 70px;

}
